@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './base.scss';
@import './element-ui.scss';
@import './sidebar.scss';

#app {
  height: 100vh;
  width: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.fr {
  float: right;
}
.fl {
  float: left;
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .filter-action-wrapper {
    @include clearfix;
    float: right;
  }
}
