:root {
  /** 全局背景色 */
  --bg-color: #f2f2f2;
  /** header 区域， - NavigationBar 组件 + TagsView 组件 */
  --header-height: calc(var(--navigationbar-height) + var(--tagsview-height));
   /** NavigationBar 组件 */
  --navigationbar-height: 50px;

}
